<header data-bs-theme="dark">
    <div class="text-bg-dark collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>Sobre</h4>
                    <p class="text-body-secondary">
                        Este Album foi desenvolvido usando as Tecnologias: <br> 
                        Webpack, jQuery, Bootstrap, JavaScript e algumas de
                        suas dependências. <br>
                        <br>
                        Selecionei alguns de meus games preferidos 
                        para compartilhar com vocês.
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Contatos</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="text-white">Siga no Twitter</a>
                        </li>

                        <li>
                            <a href="#" class="text-white">Curtir no Facebook</a>
                        </li>
                        
                        <li>
                            <a href="#" class="text-white">Meu Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center gap-2">
                <i class="fa fa-gamepad"></i>
                <strong>Coletânia</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>